@import "variables/var";
// Getting the page ready for any further work
body{
    background-color: $bodybackground-color;
}

main{
    display: $display-flex;
    justify-content: $center;
    align-items: $center;
    height: 100vh;
    padding-left: $main-padding;
    padding-right: $main-padding;
}
// Changing the setting depending on the screen size of it
@media(max-width:991px){
    main{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:820px) and (max-height:1180px){
    main{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:767px){
    main{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(width: 1024px) and (height: 1366px){
    main{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.carousel-item{
    height: 32rem;
    background-color: #ffffff;
}

.container{
    display: $display-flex;
    flex-direction: column;
    text-align: start;
    padding-top: 7rem;
    padding-inline-start: $container-padding;
    padding-inline-end: $container-padding;
    >h3{
        color: $text-color;
    }
    >p{
        color: $text-color;
        font-weight: 600;
    }
}
// Changing the setting depending on the screen size of it
@media(max-width:820px) and (max-height:1180px){
    .container{
        padding-inline-start: 180px;
        padding-inline-end: 150px;
    }
}

@media(max-width:767px){
    .container{
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
}

@media(width: 1024px) and (height: 1366px){
    .container{
        padding-inline-start: 250px;
        padding-inline-end: 200px;
    }
}

.carousel-indicators>[data-bs-target]{
    background-color: $carousel-indicator-background-color;
}
